{% if formOptions.is_admin_form is same as(true) %}
    {% set form_prefix = 'timesheet_admin_edit_form_' %}
{% else %}
    {% set form_prefix = 'timesheet_edit_form_' %}
{% endif %}

{% block form_after %}
    <style>
        {# fix style for bootstrap form field #}
        .ui-timepicker-input {
            line-height: 1.42857 !important;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.endtime-field').after('<div class="btn btn-default btn-xs input-group-addon add-on clear-endtime"">×</div>');

            var is_mobile = mediaQueryVisible(['xs']);
            // var is_mobile = mediaQueryVisible(['xs', 'sm']);

            addTimepicker(is_mobile);
        });

        function addTimepicker(is_mobile) {

            var timepicker_defaults = {
                'step': 15,
                'scrollDefault': 'now',
                'timeFormat': 'H:i',
                'maxTime': '23:45',
                'noneOption': '-- : --',
            };

            if (!is_mobile) { // desktop
                $('input[type="time"]').timepicker(timepicker_defaults).on('keydown', function (e) {

                    // do not hide timepicker-dropdown if arrow up/down/left/right is pressed
                    if ($.inArray(e.keyCode, [38, 40, 39, 41]) === -1) {
                        $(this).timepicker('hide');
                    }

                    // if enter button is pressed - do not submit form and focus on next input element
                    if (e.keyCode === 13) {
                        e.preventDefault();
                        e.stopPropagation();
                        var inputs = $(this).closest('form').find(':input');
                        inputs.eq(inputs.index($(this)) + 1).focus();
                    }
                });
                $('body').on('changeTime', '#{{ form_prefix }}begintime', function () {
                    $('#{{ form_prefix }}endtime').timepicker('option', {
                        'scrollDefault': $(this).val()
                    });
                });
            } else {
                // mobile

                // disable all select fields on this page
                // TODO: Check if there is a bug in the kimai-js-file: whitespace needed or not?
                // TMP: Copied from KimaiFormSelect.js
                function destroySelectPicker(selector) {
                    this.selector = '.selectpicker';
                    jQuery(selector + '' + this.selector).select2('destroy');
                }

                // const KimaiFormSelect = kimai.getPlugin('form-select');

                destroySelectPicker('#{{ form_prefix }}customer');
                destroySelectPicker('#{{ form_prefix }}activity');
                destroySelectPicker('#{{ form_prefix }}project');

                // // disable fields
                $('#{{ form_prefix }}begindate').prop('readOnly', true);
            }
        }

        $('body').on('click', '.clear-endtime', function(ev) {
            ev.preventDefault();
            $('#{{ form_prefix }}endtime').val('');
        });

        {% if app.request.xmlHttpRequest %}
            var form_identifier_modal = '#remote_form_modal .modal-content form';

            $(form_identifier_modal).on('submit', function(ev, confirmed) {
                doFormSubmitChecks(form_identifier_modal, ev, confirmed);
            });
        {% else %}
            var form_identifier = '.content form';
            $(form_identifier).on('submit', function(ev, confirmed) {
                doFormSubmitChecks(form_identifier, ev,confirmed);
            });
        {% endif %}

        function doFormSubmitChecks(form_identifier, ev, confirmed) {

            var ALERT = kimai.getPlugin('alert');
            var form = $(form_identifier);

            var beginField = document.getElementById('{{ form_prefix }}begintime');
            var endField = document.getElementById('{{ form_prefix }}endtime');
            var format = endField.dataset.format;

            var momentBegin = moment(beginField.value, format);
            var momentEnd = moment(endField.value, format);

            if (momentEnd.isBefore(momentBegin)) {

                if (!confirmed) {
                    ev.preventDefault();
                    ev.stopPropagation();
                    // TODO: stop submit of KimaiAjaxModalForm
                    // maybe a contribution to KimaiAjaxModalForm.js is needed?

                    var message = '{{ 'alert.starttime-higher-than-endtime'|trans }}';
                    ALERT.question(message, function (value) {
                        if (value === true) {
                            form.trigger('submit', true);
                        } else {
                            // reactivate submit button
                            const btn = $(' button[type=submit]');
                            btn.button('reset');
                        }
                    });
                }
            }
        }

    </script>
{% endblock %}