{% set length = 6 %}

{{ form_row(form.begindate) }}

<div class="row">
    {% if form.begintime is defined %}
        <div class="col-md-{{ length }}">
            {{ form_row(form.begintime) }}
        </div>
    {% endif %}
    {% if form.endtime is defined %}
        <div class="col-md-{{ length }}">
            {{ form_row(form.endtime, {'attr': {'class': 'endtime-field'}}) }}
        </div>
    {% endif %}
</div>

{{ form_widget(form) }}
